# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://mlnlywyjwcddndnrjyui.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_plP6VnozxCITI0Ze9uYxBQ_qvdndtBJ

# Admin password (sederhana, hanya untuk satu admin)
ADMIN_PASSWORD=iqbalroud06
